/* Variables */
:root {
  --color-bright-red-orange: #db3f1d;
  --color-dark-charcoal: #1c2120;
  --color-light-grayish-beige: #e4e2dd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-slight-purple: #7c73e6;
}
